---
import clamp from "./clamp"

type Target = astroHTML.JSX.HTMLAttributeAnchorTarget

interface Props {
	height?: string,
	target?: Target,
	image: string,
	text: string,
	href: string,
	alt: string,
}
const {
	text,
	href,
	image,
	alt,
	height = "25px",
	target = "_self"
} = Astro.props

const css_text_size = clamp(4, text.length, 8).toString() + "em"
---

<a href={href} target={target}>
	<img src={image} alt={alt} height={height}>
	<p>{text}</p>
</a>

<style lang="scss" define:vars={{ css_text_size }}>
	@use "./button.scss";
	@include button.element(var(--css_text_size), false);
</style>