---
import clamp from "./clamp"

type Target = astroHTML.JSX.HTMLAttributeAnchorTarget

interface Props {
	img_height?: string,
	height?: string,
	target?: Target,
	color?: string,
	image: string,
	text: string,
	href: string,
	alt: string,
}
const {
	text,
	href,
	image,
	alt,
	height     = "35px",
	img_height = "25px",
	target     = "_self",
	color      = "var(--header-button-color)"
} = Astro.props

const text_size = clamp(4, text.length, 8).toString() + "em"
---

<a href={href} target={target}>
	<img src={image} alt={alt} height={img_height} loading="lazy">
	<p>{text}</p>
</a>

<style lang="scss" define:vars={{ text_size, color, height }}>
	@use "./button.scss";
	@include button.element(var(--text_size), false, var(--color), var(--height));
</style>