---
import {clamp} from "../../../ts/math"

interface Props {
	text: string,
	href: string,
	image: string,
	image_alt: string,
}
const {text, href, image, image_alt} = Astro.props

const css_text_size = clamp(4, text.length, 8).toString() + "em"
---

<a href={href}>
	<img src={image} alt={image_alt} height="25px">
	<p>{text}</p>
</a>

<style lang="scss" define:vars={{ css_text_size }}>
	@use "../../../scss/button.scss";

	a {
		@include button.header;

		&:is(:hover, :focus) {
			width: var(--css_text_size);
			outline: none;
			background-color: var(--header-button-color-hover);
			border-color: var(--header-border-color-hover);
			transition: width button.$transition-time, background-color button.$transition-time;

			& > img {
				filter: grayscale(0%);
				transition: filter button.$transition-time;
			}
		}
		img {
			filter: grayscale(100%);
			transition: filter button.$transition-time;
		}
	}
</style>