---
import ButtonSvg from "../button/svg.astro"
import ButtonImg from "../button/img.astro"
import navigation, { type PageName } from "../../navigation"

interface Props {
	current: PageName
}
const {current} = Astro.props
---

<header>
	<aside class="box">
		{navigation.services.map(service => <ButtonImg text={service.name} href={service.href} image={service.image} alt={service.image_alt}/>)}
	</aside>
	<main class="box">
		{navigation.pages.map(page_name => <ButtonSvg
			href={page_name === "Home" ? "/" : `/${page_name.toLowerCase()}/`}
			text={page_name}
			svg={page_name as PageName}
			active={current === page_name}/>)}
	</main>
</header>

<style lang="scss">
	@use "../../layouts/root/variables";

	header {
		display: flex;
		justify-content: space-between;
		margin-top: variables.$header-margin-top;
		padding: 0 25px 0 25px;
		height: variables.$header-height-size;
	}
	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-color: var(--header-color);
		border: 1.5px solid var(--header-border-color);
		height: inherit;
		border-radius: 15px;
		padding: 0 15px 0 15px;
		box-shadow: 8px 8px 2px 1px var(--element-shadow-color);
	}
</style>