---
import ButtonSvg from "../button/svg.astro"
import ButtonImg from "../button/img.astro"
import JsScrollDetection from "./scrollDetection.astro"
import navigation, { type PageName, format_pagelink } from "../../navigation"

interface Props {
	active_page: PageName,
	scroll_enabled: boolean,
}
const {active_page, scroll_enabled} = Astro.props
---

<header class="topbar" id="header-nav">
	<aside class="box">
		{navigation.services.map(service => <ButtonImg text={service.name} href={service.href} image={service.image} alt={service.image_alt}/>)}
	</aside>
	<nav class="box">
		{navigation.pages.map(page_name => <ButtonSvg
			href={format_pagelink(page_name)}
			text={page_name}
			svg={page_name as PageName}
			active={active_page === page_name}/>)}
	</nav>
	<!--If scrolling is disabled dont ship the JS-->
	{scroll_enabled ? <JsScrollDetection/> : <></>}
</header>

<style lang="scss">
	@use "./scroll";
	@use "../../scss/variables.scss";

	.topbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 25px 15px 25px;
		height: variables.$header-height;
		top: 0;
		position: sticky;
		border-bottom: 0px solid var(--header-border-bottom-color);
		transition: border-bottom var(--header-button-transition-time);

		&.scroll {
			@include scroll.header;
		}
	}
	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-color: var(--header-color);
		border: 1.5px solid var(--header-border-color);
		height: inherit;
		border-radius: 15px;
		padding: 0 15px 0 15px;
		box-shadow: 8px 8px 2px 1px var(--element-shadow-color);
		transition: box-shadow var(--header-button-transition-time);
	}
</style>