---
interface Props {
	text: string,
	href: string,
	height: string,
	image: string,
	image_alt: string,
}
const {text, href, height, image, image_alt} = Astro.props
---

<a href={href}>
	<img src={image} alt={image_alt} height={height}>
	<p>{text}</p>
</a>

<style>
	a {
		--transition-time: .5s;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--header-button-color);
		border: 1.5px solid var(--header-border-color);
		border-radius: 10px;
		text-decoration: none;
		padding: 0 5px 0 5px;
		color: var(--text-color);
		height: 35px;
		width: 35px;
		overflow: hidden;
		transition: width var(--transition-time), background-color var(--transition-time);

		&:hover, &:focus {
			width: 50%;
			outline: none;
			background-color: blue;
			transition: width var(--transition-time), background-color var(--transition-time);

			& > p {
				opacity: 1;
				transition: width var(--transition-time), opacity var(--transition-time);
				position: relative;
			}
			& > img {
				filter: grayscale(0%);
				transition: filter var(--transition-time);
			}
		}
	}
	p {
		opacity: 0;
		margin: 0 0 0 8px;
		background: linear-gradient(150deg, rgba(230, 230, 230, 1) 0%, rgba(150, 150, 150, 1) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: opacity var(--transition-time);
		position: absolute;
	}
	img {
		filter: grayscale(100%);
		transition: filter var(--transition-time);
	}
</style>