---
import Section, {Svg} from "./section.astro"
import navigation, {format_pagelink} from "../../navigation"
---

<main>
	<Section name="Services" icon={Svg.Services}>
		{navigation.services.map(service => <a href={service.href}>{service.name}</a>)}
	</Section>
	<Section name="Map" icon={Svg.Map}>
		{navigation.pages.map(page_name => <a href={format_pagelink(page_name)}>{page_name}</a>)}
	</Section>
	<Section name="Source Code" icon={Svg.SourceCode}>
		<a href="https://github.com/rhpidfyre-io/rhpidfyre.io" target="_blank">GitHub</a>
		<a href="https://git.rhpidfyre.io/rhpidfyre.io/rhpidfyre.io" target="_blank">Gitea</a>
	</Section>
</main>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 130px;
		height: inherit;
		margin-bottom: 50px;
	}
	a {
		font-size: .9rem;
		text-decoration: none;
		margin: 5px 0 5px 0;
		color: var(--footer-anchor-color);
		width: fit-content;
		outline: none;
		transition: color var(--button-transition-time);

		&:is(:active, :visited) {
			color: var(--footer-anchor-color);
		}
		&:is(:hover, :focus) {
			color: var(--text-color);
			transition: color var(--button-transition-time);
		}
	}
</style>